body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 80px 1fr 50px;
	grid-template-columns: 50% 50%;
	grid-template-areas: 
	"header header"
	"sidebar content"
	"footer footer";
}

.header {
	grid-area: header;
	padding:10px;
	background-color: #131313;
	color: white;
	text-align: center;
	color:rgb(255, 255, 255);
	font-family: Fantasy;
	font-size: 1em;
}

.sidebar {
	color: white;
	grid-area: sidebar;
	padding:10px;
	background-color: #555;
	overflow: auto;
}


.footer {
	grid-area: footer;
	padding:10px;
	background-color: rgb(175, 175, 175);
}