body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
    display: grid;
	grid-template-rows: 80px 1fr;
	grid-template-columns: 320px 1fr;
	grid-template-areas: 
	"header header"
	"sidebar content";
}

.header {
	grid-area: header;
	padding:25px;
    background-color: #80b4df;
	color:rgb(255, 255, 255);
	text-align: center;
	font-family: Fantasy;
	font-size: 30px;
}
.sidebar {
	grid-area: sidebar;
	padding: 20px;
    background-color: #6381a3;
	color:rgb(255, 255, 255);
	overflow: auto;
}
.content {
	grid-area:auto;
}


.sidebar-item {
	padding: 10px;
	background: rgb(255, 255, 255);
	color:rgb(255, 255, 255);
	border: 2px solidrgb(255, 255, 255);
	text-align: center;
	font-size: 15px;
	margin: 15px;
	cursor:pointer; 
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	
}


.sidebar-item:hover {
	background: rgb(141, 178, 204);
	color:rgb(241, 240, 245);
	border: 2px solid rgb(255, 255, 255);
	text-align: center;
	font-size: 15px;
}
.selected {
	background: rgb(144, 145, 177);
	color:rgb(252, 252, 252);
	border: 2px solid rgb(248, 248, 248);
}
.unselected {
	background: rgb(64, 46, 128);
	color:rgb(64, 46, 128);
}
.sidebar-item:active {
	background: rgb(67, 67, 88);

}
